{# templates/users/register.html #}
{% extends "base.html" %}
{% block title %}Register – Agendable{% endblock %}

{% block content %}
  <div class="container">
    <h1>Create an Account</h1>

    {% if error %}
      <div class="flash error">{{ error }}</div>
    {% endif %}

    <form
      method="post"
      action="{{ url_for('register_post') }}"
    >
      <div>
        <label for="email">Email</label><br/>
        <input id="email" name="email" type="email" required />
      </div>
      <div>
        <label for="password">Password</label><br/>
        <input id="password" name="password" type="password" required />
      </div>
      <div>
        <label for="first_name">First Name</label><br/>
        <input id="first_name" name="first_name" type="text" required />
      </div>
      <div>
        <label for="last_name">Last Name</label><br/>
        <input id="last_name" name="last_name" type="text" required />
      </div>
      <button type="submit">Sign up</button>
    </form>
  </div>
{% endblock %}
