{% if recurrence_freq == "WEEKLY" %}
<div class="group span-all">
    <strong>Weekly days</strong>
    <div class="options-row">
        <label class="inline"><input type="checkbox" name="weekly_byday" value="MO" /> Mon</label>
        <label class="inline"><input type="checkbox" name="weekly_byday" value="TU" /> Tue</label>
        <label class="inline"><input type="checkbox" name="weekly_byday" value="WE" /> Wed</label>
        <label class="inline"><input type="checkbox" name="weekly_byday" value="TH" /> Thu</label>
        <label class="inline"><input type="checkbox" name="weekly_byday" value="FR" /> Fri</label>
        <label class="inline"><input type="checkbox" name="weekly_byday" value="SA" /> Sat</label>
        <label class="inline"><input type="checkbox" name="weekly_byday" value="SU" /> Sun</label>
    </div>
    <small><em>If none selected, defaults to the start date's weekday.</em></small>
</div>
{% elif recurrence_freq == "MONTHLY" %}
<div class="group span-all">
    <strong>Monthly</strong>
    <div class="options-row">
        <label class="inline">
            <input type="radio" name="monthly_mode" value="monthday" checked />
            On day
        </label>
        <input name="monthly_bymonthday" type="number" min="1" max="31" class="input-compact-sm" />
    </div>
    <div class="options-row">
        <label class="inline">
            <input type="radio" name="monthly_mode" value="nth_weekday" />
            On
        </label>
        <label class="inline"><input type="checkbox" name="monthly_bysetpos" value="1" /> 1st</label>
        <label class="inline"><input type="checkbox" name="monthly_bysetpos" value="2" /> 2nd</label>
        <label class="inline"><input type="checkbox" name="monthly_bysetpos" value="3" /> 3rd</label>
        <label class="inline"><input type="checkbox" name="monthly_bysetpos" value="4" /> 4th</label>
        <label class="inline"><input type="checkbox" name="monthly_bysetpos" value="-1" /> Last</label>
        <select name="monthly_byday">
            <option value="MO">Mon</option>
            <option value="TU">Tue</option>
            <option value="WE">Wed</option>
            <option value="TH">Thu</option>
            <option value="FR">Fri</option>
            <option value="SA">Sat</option>
            <option value="SU">Sun</option>
        </select>
    </div>
    <small><em>"On day" defaults to the start date's day if blank.</em></small>
</div>
{% else %}
<div class="group span-all">
    <small><em>Daily recurrence does not require extra options.</em></small>
</div>
{% endif %}